.RestartButton{
    position: absolute;
    top: 85%;
    right: 50%;
    width: 10%;
    height: 5%;
}

.DropAndShowButton{
    position: absolute;
    top: 5%;
    right: 85%;
    width: 10%;
    height: 5%;
}

.DropButton{
    position: absolute;
    top: 75%;
    right: 11%;
    width: 6%;
    height: 5%;
}

.BackMoveButton{
    position: absolute;
    top: 70%;
    right: 11%;
    width: 6%;
    height: 5%;
}

.ForwardMoveButton{
    position: absolute;
    top: 80%;
    right: 11%;
    width: 6%;
    height: 5%;
}

.LeftMoveButton{
    position: absolute;
    top: 75%;
    right: 17%;
    width: 4%;
    height: 5%;
}
.RightMoveButton{
    position: absolute;
    top: 75%;
    right: 7%;
    width: 4%;
    height: 5%;
}

.TransparentButton{
    position: absolute;
    top: 5%;
    right: 20%;
    width: 10%;
    height: 5%;
}

.rotationButton{
    background: url(/public/wheel.png) no-repeat left top;
    background-size: 100% 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 6%;
    bottom: 4%;
    /*border: none;*/
}